/*
Colors
#0094FF
#FFD800
#808080
*/

body {
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.soFontCool {
  font-family: 'Indie Flower', cursive !important;
}
.soFontBig {
  font-size: 4rem;
}
.soFontMed {
  font-size: 1.5rem;
}
.soImgAvatar {
  max-width: 160px;
  margin-top: 20px;
  border-radius: 50%;
  box-shadow: 10px 10px 30px #333;
}
.soName {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.soName h1 {
  margin: 0;
  padding: 0;
}
.soDesc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.soDesc h3 {
  text-transform: uppercase;
  margin: 50px 8px 20px 8px;
}
.soDesc h3 span {
  text-transform: lowercase;
  font-size: 1rem;
}
.soFontYellow {
  color: #FFD800;
}
.soFontBlue {
  color: #0094FF;
}
.soFontShadow {
  text-shadow:
    1px 0px 1px #ccc,
    0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}
.soContacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.soContacts i{
  font-size: 1.5rem;
  color: #0094FF;
  padding: 2px 20px;
}
.soContacts i:hover {
  color: #FFD800;
  /*font-size: 2rem;*/
}
.soContacts i:active {
  /*color: #FFD800;*/
  font-size: 3rem;
}
footer p{
 margin-top: 10px;
}
