/*reset page*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #333;
  font-family: monospace;
}
.wrapper-section{
  text-align: center;
  padding: 30px 5px;
  width: 100%;

}
.wrapper-article{
  background: #f5f5f5;
  padding: 10px 0;
}
#xmlSend{
  padding: 10px 30px;
  margin: 20px 0;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
#xmlSend:hover{
  background-color: #555;
  color: #fff;
}

p{
  margin: 10px 0;
}
footer{
  text-align: center;
  font-size: 12px;
  background-color: #fff;
}
