html{
	background-color: #736f72;
	font: 12px/1.5 'segoe ui', 'lucida sans unicode', 'lucida grande', lucida, sans-serif;
}

body{
	padding: 10px;
	background-color: #B2B2B2;
	/*width: 800px;*/
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

header{
	background-color: #E9E3E6;
	margin: auto;
	/*padding: 5px;*/
	/*margin-bottom: 0px;*/
	/*	width: 800px;*/
}
header #htext{

	/*margin-top: 5px;*/
	color: #736f72;
	text-align: left;
	float: left;
}
header #htext h1, h2{
	margin: 0;
	margin-left: 50px;
}
header #htext h2{
	margin-left: 125px;
	font-style: italic;
	font-size: 12px;
}
header img{
	float: right;
	margin-right: 5%;
	padding: 5px;
	clear: right;
	width: 180px;
	border-radius: 50%;
    width: 80px;
    height: 80px;
 }


/* nav bar */
nav{
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #B2B2B2;	
	color: #736f72;
	display: table;
	width: 100%;
	border-collapse: collapse;
	border: none;
	text-align: center;
}
nav ul{
	display: table-row;

}
nav li{
	display: table-cell;
	margin: 0;
}
nav li a{
	text-decoration: none;
	padding: .2em 1em;
	color: #E9E3E6;
	/*background-color: #736f72;*/
}
nav li a:hover{
	color: #736f72;
	/*background-color: #9A8F97;*/
}

/*sections*/
section{
	/*width: 600px;*/
	width: 75%;
	float: left;
	background-color: #E9E3E6;	
	color: #736f72;
}
article{
	margin: 5px;
	
	background-color: #C3BABA;
	padding: 0px 5px 5px;
}
article h5{
	margin: 10px;
	text-align: right;
}
article a{
	text-decoration: none;
	color: #736f72;
	font-weight: bold;
}
/*todo list on left*/
#todo{

	padding: 5px;
	clear: right;
	width: 22%;
	/*width: 180px;*/
	float: right;
	background-color: #E9E3E6;	
	color: #736f72; 
}
#todo li{
	list-style-type: circle
}
#todo #done{
	text-decoration: line-through;
}
#todo h3{
	margin: 0;
}

footer{
	padding: 10px;
	font-size: 10px;
	text-align: center;
	clear: both;
}

footer hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

