* {
  font-family: 'Fresca', sans-serif;
}

#hi {
  padding-top: 300px;
  height: 900px;
  color: #fff;
  background-color: #1E88E5;
}

#knowme {
  padding-top: 40px;
  height: 900px;
  color: #fff;
  background-color: #673ab7;
}

#seeme {
  padding-top: 40px;
  height: 800px;
  color: #fff;
  background-color: #ff9800;
}

#callme {
  padding-top: 40px;
  height: 700px;
  color: #fff;
  background-color: #00bcd4;
}

footer {
  padding-top: 40px;
  height: 200px;
}

p {
  font-size: 20px;
}

.img-responsive {
  margin: 0 auto;
}

p a {
  color: #fff;
}


/* responsive text queries */

@media screen and (max-width: 768px) {}

@media screen and (max-width: 544px) {
  p {
    font-size: 90%;
  }
  #knowme {
    height: 1100px;
  }
  #seeme {
    height: 1400px;
  }
}