---
import Card from "../components/Card.astro";
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout>
  <section class="flex flex-col gap-6 px-4">
    <div class="flex gap-2 items-center">
      <img
        class="rounded-full w-10"
        src="https://avatars.githubusercontent.com/u/16838793?v=4"
        alt="avatar"
      />
      <p>
        Hello, I'm <span class="text-indigo-600 dark:text-amber-300 font-bold"
          >Carlos</span
        >!
      </p>
    </div>
    <p class="text-lg">
      A software developer with a focus on getting human life simpler using the
      web and javascript!
    </p>
    <div class="flex flex-col gap-4">
      <Card
        title="InnovationCast"
        description="Currently working as a Frontend Software Engineer on software that helps people co-create ideas!"
        href="https://innovationcast.com"
      />
      <Card
        title="LinkedIn"
        description="Find my experience path and connections on LinkedIn!"
        href="https://www.linkedin.com/in/socarlosb"
      />
      <Card
        title="GitHub"
        description="Find some code experience on GitHub!"
        href="https://github.com/socarlosb"
      />
      <Card
        title="CV"
        description="Check my online CV!"
        href="https://docs.google.com/document/d/1hVBdvrSUuCcu-I7onIHOzMw6-b12Kyvg--7Bd-omPuQ/edit?usp=sharing"
      />
      <Card
        title="Email"
        description="Contact me for collaborations!"
        href="mailto:socarlosb@gmail.com"
      />
    </div>
  </section>
</PageLayout>
