---
const today = new Date();
---

<footer class="py-2 text-center font-light text-xs bg-slate-700">
  <p>&copy; {today.getFullYear()} soCarlosB. All rights reserved.</p>
  <p>(This page will be updated, some day...)</p>
</footer>
