/*
    Home portfolio css
    by: Carlos Barbosa
*/
/* As hex codes */
.color-primary-0 { color: #315B6B }	/* Main Primary color */
.color-primary-1 { color: #73919C }
.color-primary-2 { color: #4C7281 }
.color-primary-3 { color: #1E4858 }
.color-primary-4 { color: #0C303F }


body {
    font-family: calibri arial sans-serif;
    margin: 0;
    background: #fff;
    text-align: center
}

#page {
    width: 80%;
    margin: 0 auto;
    background: #fff;
}

#mainNav {
    padding: 2px;
    border-bottom: 2px solid #0C303F;
    background-color: #73919C;
}

#mainNav ul {
    text-align: right;
    list-style-type: none;
    margin-right: 10px;
}

#mainNav li {
    display: inline-block;
    margin-left: 5px;
}

#mainNav a {
    color: #0C303F;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px;
}
#mainNav a:hover {
    color: #4C7281;
}

#home {
    text-align: center;
    margin: 50px auto;
}
#logo {
    width: 100px;
}

#home h1 {
    margin: 5px;
}

#home h2 {
    margin: 5px;
}

footer {
    text-transform: uppercase;
    background-color: #73919C;
    color: #0C303F;
    font-size: 12px;
    border-top: 2px solid #0C303F;
    padding: 15px;
}