/* socarlosb.github.io base sheet */
/* clean page */
*{
        /* padding: 0; 
      margin: 0;         */
}
li{
    /* margin: 0; */
}
a:link{
    /* text-decoration: underline;
    text-decoration-line:  */
}
