/* socarlosb.github.io style sheet template */
/*
Hex values of Cappuccino Color Palette from jeames10
Creater: http://www.color-hex.com/member/jeames10
Pallette: http://www.color-hex.com/color-palette/389

links hover #4b3832 dark brown
links #854442 redish
background #fff4e6 almost white
text title #3c2f2f darker brown
layouts #be9b7b yelloished

normal text #333333 almost black
*/

body{
    background-color: #fff4e6;
    color: #333333;
}
a{
    color: #854442;
}
a:hover{
    color: #4b3832;
}
h1, h2, h3, h4, h5, h6{
    color: #3c2f2f;
}
header, article, footer{
    background-color: #be9b7b;
}