/* socarlosb.github.io layout sheet */
/* layout css */

body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-template-areas: 
        "templates . header header"
        "posts posts posts ."
        ". . . footer";
}

#templates{
    grid-area: templates;
}
header{
    grid-area: header;
}
#posts{
    grid-area: posts;
}
footer{
    grid-area: footer;
}

/* media queries for the posts */
@media screen and (max-width: 1024px){
    body{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "templates header header"
        "posts posts posts "
        ". .  footer";
    }
}
@media screen and (max-width: 768px){
    body{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "templates"
        "header"
        "posts"
        "footer";
    }
}