/* socarlosb.github.io style sheet template */
/*
Hex values of Google Color Palette from kbtpodifo
Creater: http://www.color-hex.com/member/kbtpodifo
Pallette: http://www.color-hex.com/color-palette/1872

links hover #008744 dark brown
links #0057e7 redish
background #d62d20 almost white
text title #ffa700 darker brown
layouts #ffffff yelloished

normal text #333333 almost black
*/

body{
    background-color: #d62d20;
    color: #333333;
}
a{
    color: #0057e7;
}
a:hover{
    color: #008744;
}
h1, h2, h3, h4, h5, h6{
    color: #ffa700;
}
header, article, footer{
    background-color: #ffffff;
}