---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
export interface Props {}

const {} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="h-screen w-screen flex text-dark bg-light dark:bg-dark dark:text-light transition-all font-sans text-base justify-center"
  >
    <main class="flex flex-col justify-between gap-2">
      <section>
        <NavBar />
        <slot />
      </section>
      <Footer />
    </main>
  </body>
</html>
